<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>JO&KA Shop</title>
    <link rel="icon" type="image/x-icon" href="images/joka logo.png" />

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+Wy2F7AkozIbbjK8ERdknWbPUq3L4Eg1pC" crossorigin="anonymous">

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />

	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

	<script type="text/javascript">
		var user = '{{request.user}}'

		function getToken(name) {
		    var cookieValue = null;
		    if (document.cookie && document.cookie !== '') {
		        var cookies = document.cookie.split(';');
		        for (var i = 0; i < cookies.length; i++) {
		            var cookie = cookies[i].trim();
		            // Does this cookie string begin with the name we want?
		            if (cookie.substring(0, name.length + 1) === (name + '=')) {
		                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		                break;
		            }
		        }
		    }
		    return cookieValue;
		}
		var csrftoken = getToken('csrftoken')

		function getCookie(name) {
		    // Split cookie string and get all individual name=value pairs in an array
		    var cookieArr = document.cookie.split(";");

		    // Loop through the array elements
		    for(var i = 0; i < cookieArr.length; i++) {
		        var cookiePair = cookieArr[i].split("=");

		        /* Removing whitespace at the beginning of the cookie name
		        and compare it with the given string */
		        if(name == cookiePair[0].trim()) {
		            // Decode the cookie value and return
		            return decodeURIComponent(cookiePair[1]);
		        }
		    }

		    // Return null if not found
		    return null;
		}
		var cart = JSON.parse(getCookie('cart'))

		if (cart == undefined){
			cart = {}
			console.log('Cart Created!', cart)
			document.cookie ='cart=' + JSON.stringify(cart) + ";domain=;path=/"
		}
		console.log('Cart:', cart)

	</script>

</head>
<body>

	<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" style="height: 70px;">
        
	  <a class="navbar-brand" href="{% url 'store' %}"><img src="{% static  'images/joka logo.png' %}" style="width:65px;height:60px"></a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav mr-auto">
	      <li class="nav-item active">
	        <a class="nav-link" style="font-weight: bold; font-family: serif;" href="{% url 'store' %}">Homepage <span class="sr-only">(current)</span></a>
	      </li>
		  <li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" href="{% url 'filtered_category' %}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: rgb(0, 0, 0); font-weight: bold; font-family: serif;">
				Categories
			</a>
			<div class="dropdown-menu" aria-labelledby="navbarDropdown">
				<form class="dropdown-item p-3" action="{% url 'filtered_category' %}" method="get">
					<div class="form-group">
						
						<select class="form-control" style="font-family: serif;"id="categoryFilter" name="categoryFilter">
							<option value="" style="font-family: serif;">All Categories</option>
							{% for category in categories %}
								<option value="{{ category.id }}" style="font-family: serif;">{{ category.cate_name }}</option>
							{% endfor %}
						</select>
					</div>
                    <div class="dropdown-divider"></div>
					<button type="submit" class="btn btn-black text-white" style="background-color: #C69B73; font-family: serif;">Get Products</button>
				</form>
				
          </li>
            <li class="nav-item">
			<a class="nav-link text-dark" href="{% url 'about_us' %}" style="margin-right: 100px; white-space: nowrap; font-weight: bold; font-family: serif;">About Us</a>
		</li>
		
          
        
        
	    </ul> 
		<div class="container"> 
			<a class="navbar-brand mx-auto" href="{% url 'store' %}">
				<img src="{% static 'images/&.png' %}" style="width:220px;height:50px" alt="Logo">
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
        
        
	    </ul> 

		<div class="InputContainer" >
			<form method="get" action="{% url 'search' %}">
			<input placeholder="Search..." style="font-family: serif;" id="input" class="input" name="q" type="text">
			</form>
		</div>

      
		  
		
	    <div class="form-inline my-2 my-lg-0" style="margin-left: 10px">
            {% if user.is_authenticated %}
			<form action="{% url 'logout' %}" method="post">
				{% csrf_token %}
				<button type="submit" class="Btn" >
					<div class="sign">
						<svg viewBox="0 0 512 512"><path d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"></path></svg>
					</div>
					<div class="text" >Logout</div>
				</button>
			</form>

            {% else %}
                <a href="{% url 'register' %}" class="btn btn mx-2 custom-btn" style="margin-left: 0px; font-family: serif;">Register</a>
                <a href="{% url 'login' %}" class="btn btn mx-2 custom-btn" style="margin-left: 0px;font-family: serif;">Login</a>

            {% endif %}


	     	<a href="{% url 'cart' %}">
	    		<img  id="cart-icon" src="{% static 'images/25619.png' %}">
	    	</a>
	    	<p id="cart-total">{{cartItems}}</p>

	    </div>
	  </div>
	</nav>
    <br><br><br>
    {% block banner_slider %}{% endblock banner_slider %}
    
     <div class="container">
            <br>
            {% block content %}


            {% endblock content %}
         </div>
    
		
		<footer>
			<div class="container-fluid fixed-bottom text-center p-1" style="background-color: #C69B73;">
			  <a class="text-light" style="font-family: serif;">© 2024 Copyright | Developped By JO & KA Team</a>
			  
			</div>
		  </footer>


	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>

	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

	<script type="text/javascript" src="{% static 'js/cart.js' %}"></script>
</body>
</html>